<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Edit Notes</title>
  </head>
  <body>
    <button id="addNote">Add Note</button>
    <input id="note-title" type="text" placeholder="Note title" />
    <span id="last-edited"></span>
    <textarea id="note-body" cols="30" rows="10"></textarea>
    <button id="remove-note">Remove Note</button>
    <p><a href="./index.html">this is edit</a></p>
    <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
    <script src="../javaScript/notes-functions.js"></script>
    <script src="../javaScript/edit-notes.js"></script>
  </body>
</html>
